/*--------------------login.php---------------------------
03-06-2025 
Quitar icono nativo de mostrar contraseña*/
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/*Usuario y contraseña en negrita
31-05-2025*/
.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

/*Encabezado de iniciar sesión*/
.login-header {
    background-color: #0b3651;
    color: white;
    padding-top: 45px;
    text-align: center;
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;
    border-radius: 0.4rem;
}

/* Estilo para el círculo */
.circle-above-login {
    position: absolute;
    top: -60px;
    /* Mitad fuera de la tarjeta */
    left: 50%;
    transform: translateX(-50%);
    /* Centrado horizontal */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    border: 3px solid #0b3651;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*tamaño de la foto del circulo form*/
.circle-above-login img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Ajuste para el contenedor de la tarjeta */
.login-card {
    position: relative;
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
}

/* Solo en móviles */
@media (max-width: 768px) {
    .login-card {
        margin-top: 150px;
    }
}

/*Estilo de boton ingresar sacado de bootstrap */
.btn-ingresar {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin-top: 10px;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    background-color: #0b3651;
    border-color: #0b3651;
}

/*Estilo de boton ingresar sacado de bootstrap al pasa mouse */
.btn-ingresar:hover {
    background-color: #052234;
    border-color: #052234;
}

/*Animación de boton ingresar*/
.btn-ingresar:active {
    transform: scale(0.98);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}


